@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: auto;
  height: auto;
}

/* Animação do slide */
@keyframes translatestf {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-90%);
	}
}

.animaInfinite {
  animation: translatestf 8s linear infinite;
  overflow: hidden;
  position: relative;
}

/* Cores para swiperjs */
.swiper-pagination-bullet-active {
	background-color: #19C819 !important;
}