@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
  --color-bg-primary: #131313;
  --color-text-primary: #F2F4F8;
  --color-accent: #19C819
  ;
}

.light {
  --color-bg-primary: #ffffff;
  --color-text-primary: #333;
  --color-accent: #19C819;
}

:root {
  @layer light;
}